@import "node_modules/@patternfly/patternfly/sass-utilities/all.scss";

$pf-global--font-path: "/web/fonts";
$fa-font-path: $pf-global--font-path + "/webfonts";

@import "node_modules/@patternfly/patternfly/patternfly.scss";
@import "node_modules/@patternfly/patternfly/patternfly-addons.scss";

.pf-x-m-no-decoration {
  text-decoration: none !important;
}
